window#osd {
  border-radius: 999px;
  border: 2px solid @theme_fg_color;
  background: alpha(@theme_bg_color, 0.8);
  font-size: 16px;
}

window#osd #container {
  margin: 10px;
}

window#osd image,
window#osd label {
  color: @theme_fg_color;
}

window#osd image {
  -gtk-icon-transform: scale(0.8);
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
  min-width: 102px;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  background: alpha(@theme_fg_color, 0.5);
  border: none;
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @theme_fg_color;
}
