:root {
  --cc-bg: transparent;
  --noti-bg: 59, 66, 82;
  --noti-bg-alpha: 0.7;
  --noti-bg-hover: rgb(67, 76, 94);

  --border-radius: 18px;
  --padding: 9px;
}

.control-center {
  border-radius: 0;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: rgba(46, 52, 64, 0.8);
  border-radius: var(--border-radius);
  padding: var(--padding);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
  background: transparent;
}

.widget.widget-title {
	margin-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.widget-title > label {
	font-size: 20px;
}

.widget.widget-inhibitors > label,
.widget.widget-dnd > label,
.widget.widget-title > label,
.text-button > label,
.notification-group-header {
	color: rgb(236, 239, 244);
}

.summary,
.time {
	color: rgb(229,233,240);
}

.body {
	color: rgb(216,222,233);
}

.widget.widget-notifications {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}
