configuration {
	font: "JetBrainsMono Nerd Font Propo 14";
	show-icons: true;
	// terminal: "kitty";
	icon-theme: "Papirus";
	display-drun: "  ";
	display-window: "﩯 ";
	display-combi: "  ";
}
@theme "themes/nord.rasi"
