/** ********** Fonts ********** **/
* {
    font-family: "JetBrainsMonoNF Regular";
    font-size: 18px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: #2e3440;
    color: #eceff4;
    border-bottom: 2px solid #2e3440;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

/** ********* Workspaces ********** **/

#workspaces {
	margin: 6px;
	background-color: #3b4252;
	border-radius: 4px;
}

#workspaces button {
    padding: 4px 5px;
    background-color: transparent;
    color: #eceff4;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 4px;

    /* margin: 6px 0px; */
    padding: 2px 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #eceff4;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #eceff4;
}

#workspaces button.urgent {
    background-color: #ebcb8b;
}

#workspaces button.active {
    background-color: #e5e9f0;
    color: #2e3440;
}

/** ********** Clock ********** **/
#clock {
	background-color: #3b4252;
	font-size: 20px;
}

/** ********** CPU ********** **/
#cpu {
	background-color: #3b4252;
}

/** ********** Tray ********** **/
#tray {
	background-color: #3b4252;
}

#tray menu {
	background-color: #434c5e;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: #3b4252;
}

#pulseaudio.bluetooth {
	background-color: #b48ead;
}
#pulseaudio.muted {
	background-color: #bf616a;
}

/** ********** Custom ********** **/
#custom-power, #custom-notification, #custom-updates {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
	font-size: 16pt;
}

#custom-power {
	background-color: #d8dee9;
	color: #2e3440;
	margin: 6px;
	padding: 2px 8px;
	font-size: 22px;
}

#custom-notification {
    padding: 2px 11px 2px 8px;
    background-color: #3b4252;
}

#custom-updates {
    background-color: #3b4252;
}

/** Common style **/
#clock,
#cpu,
#memory,
#tray,
#pulseaudio {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}
